<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <h1>Weather</h1>
    </nav>

    <div class="container p-2">

        <form>
            <div class="form-group row mt-3 mb-3">
                <label class="col-sm-2 col-form-label">Enter Web Token:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="jwtToken" placeholder="Example: HEADER.PAYLOAD.SIGNATURE">
                </div>
                <button type="button" id="tokenGenerateButton" class="btn btn-outline-warning">
                    Generate Token
                </button>
            </div>
        </form>

        <form class="form-inline">
            <div class="form-group">
                <label>Enter Zip Code:</label>
                <input type="text" id="zipcode" class="form-control mx-sm-3" placeholder="Example: 85027">
                <button type="button" id="hourlyButton" class="btn btn-outline-primary p-2 m-2">Get Hourly Weather
                </button>
                <button type="button" id="lowestButton" class="btn btn-outline-secondary p-2 m-2">Get Lowest
                    Weather
                </button>
            </div>
        </form>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="todayRadioButton" value="0">
            <label class="form-check-label">Today</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tommarowRadioButton" value="1"
                checked>
            <label class="form-check-label">Tomorrow</label>
        </div>

    </div>

    <p class="font-weight-bolder font-italic">
        <div id="wetherdataheadder" style="margin-bottom: 15px"></div>

        <div class="row">
            <div class="col col-6">
                <div id="wetherdata"></div>
            </div>

            <div class="col col-6">

                <div class="card">

                    <div class="card-body">

                        <div class="row">
                            <div class="col-4">
                                <h5>API Request URL:</h5>
                            </div>
                            <div class="col-8" id="requestURL"></div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h5>JSON Response:</h5>
                                <div id="copytoClipBoard"></div>
                            </div>
                        </div>

                        <div class="row">
                            <pre id="responseURL"></pre>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- Refresh Modal -->
        <div class="modal fade bd-example-modal-lg" id="refreshModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="text-center modal-title" id="exampleModalLabel"><i class="text-center">JWT Token
                                Generator:</i> </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- This will the body of the submit form.-->
                        <h5>Enter the below details to generate a JWT</h5>
                        <form class="form-inline">
                            <div class="form-group m-1">
                                <label>Secreat Key:</label>
                                <input type="text" id="secreatKey" class="form-control mx-sm-3" placeholder="Example: xxxxxxxx">
                            </div>
                            <div class="form-group m-1">
                                    <label>Enter Name:</label>
                                <input type="text" id="userName" class="form-control mx-sm-3" placeholder="Example: Neeraj Kumar">
                            </div>
                            <div class="form-group m-1">
                                    <label>Enter UserId:</label>
                                <input type="text" id="userID" class="form-control mx-sm-3" placeholder="Example: neeraj1234">
                            </div>
                        </form>
                        <p class="m-2">
                            <i><b><u>Note:</u></b> Copy the Token From JSON Response feild after generation.</i>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="generateButton" onclick="submitPostURLForTokenGeneration()" class="btn btn-primary">Generate</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

        <script>

            var apiURL = "/api/";
            var tokenGenerationURL = "/token";
            var lowest = false;
            var copyToClipBoard = '<div class="bd-clipboard">';
                copyToClipBoard += '<button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button></div>';

            $(document).ready(function () {

                $('#zipcode').keyup(function () {
                    zipCodeChanged();
                });

                $("input[type='radio']").change(function () {
                    radioBokChanged();
                });

                $("#hourlyButton").click(function () {
                    loadHourlyURL();
                });

                $("#lowestButton").click(function () {
                    loadLowestURL();
                });

                $("#tokenGenerateButton").click(function () {
                    // submitPostURLForTokenGeneration();
                    $('#refreshModal').modal('show');
                });

            });

            function loadLowestURL() {

                initilize();
                lowest = true;
                var finalURL = apiURL + radioBokChanged() + "/lowest";
                // $("#requestURL").text(finalURL);
                submitTheGetURL(finalURL);
            }

            function loadHourlyURL() {

                initilize();
                lowest = false;
                var finalURL = apiURL + radioBokChanged();
                // $("#requestURL").text(finalURL);
                submitTheGetURL(finalURL);
            }

            function submitTheGetURL(finalURL) {

                setTagValue("requestURL", finalURL);
                var jsonToken = $('#jwtToken').val();
                var token = "Token " + jsonToken;
                // console.log(token);

                // Call the REST API.
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: finalURL,
                    headers: {
                        'Authorisation': token
                    },
                    success: function (data) {
                        buildPage(data);
                        setTagValue("responseURL", JSON.stringify(data, null, 2));
                        // $("#responseURL").text(JSON.stringify(data, null, 2));
                    },
                    error: function (data) {
                        setTagValue("responseURL", JSON.stringify(data.responseJSON, null, 2));
                        // $("#responseURL").text(JSON.stringify(data.responseJSON, null, 2));
                    }
                });
            }

            function submitPostURLForTokenGeneration() {

                var inputDate = {
                    userName: $('#userName').val(),
                    userId: $('#userID').val(),
                    role: "user",
                    secreatKey: $('#secreatKey').val()
                }

                $('#refreshModal').modal('hide');

                setTagValue("requestURL", tokenGenerationURL);

                // Call the TokenGeneration REST API.
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: tokenGenerationURL,
                    data: JSON.stringify(inputDate),
                    success: function (data) {
                        // console.log(data);
                        setTagValue("responseURL", data);
                        $("#jwtToken").val(data);
                    },
                    error: function (data) {
                        setTagValue("responseURL", JSON.stringify(data.responseJSON, null, 2));
                    }
                });

            }

            function initilize() {
                $("#responseURL").text(" ");
                $("#requestURL").text(" ");
                document.getElementById('wetherdata').innerHTML = ' ';
                $("#wetherdataheadder").text(" ");
            }

            function setTagValue(tagName, tagValue) {
                $("#" + tagName).text(tagValue);

                // if(tagName == "responseURL"){
                //     $("#copytoClipBoard").html('<button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>');
                // }
            }

            function buildPage(dump) {

                // console.log(dump);

                var weatherTag = '<div> <div class="row border justify-content-center bg-success text-white"> ' +
                    '<h4 class="col" style="text-align: center">Time</h4>' +
                    '<h4 class="col" style="text-align: center">Temp</h4>' +
                    '<h4 class="col" style="text-align: center">Description</h4>' +
                    '</div>';
                dump.hourlydate.forEach(function (e) {
                    weatherTag += buildCard(e, dump.city_name);
                });

                document.getElementById('wetherdata').innerHTML = weatherTag + '</div>';
            }

            function radioBokChanged() {
                return zipCodeChanged($("input[name='inlineRadioOptions']:checked").val());
            }

            function zipCodeChanged(requestURLString) {
                return requestURLString + "/" + $('#zipcode').val();
            }

            function buildCard(input, city) {

                var datefeild = new Date(input.timestamp_local[0], input.timestamp_local[1], input.timestamp_local[2]);
                datefeild = datefeild.toString().slice(0, datefeild.toString().indexOf("00:00"));

                if (lowest === true) {
                    $("#wetherdataheadder").text("Lowest Temperature in " + city + "(Zip Code:" + $('#zipcode').val() + ") on " + datefeild + " is:");
                } else {
                    $("#wetherdataheadder").text("Hourly weather in " + city + "(Zip Code:" + $('#zipcode').val() + ") on " + datefeild + " is:");
                }

                var output = '<div class="row border justify-content-center">';
                output += '<h5 class="col" style="text-align: center">' + input.timestamp_local[3] + ":00 hrs" + '</h5>';
                output += '<h5 class="col" style="text-align:center">' + input.temp + " &deg;C" + '</h5>';
                output += '<h6 class="col" style="text-align: center">' + input.wetherdescription + '</h6>';
                output += '</div></div>';
                return output
            }

        </script>

</body>

</html>