<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <h1>Weather</h1>
</nav>

<div class="container-fluid">

    <div class="container p-2">

        <form class="form-inline">
            <div class="form-group">
                <label>Enter Zip Code:</label>
                <input type="text" id="zipcode" class="form-control mx-sm-3">
                <button type="button" id="hourlyButton" class="btn btn-outline-primary p-2 m-2">Get Hourly Weather</button>
                <button type="button" id="lowestButton" class="btn btn-outline-secondary p-2 m-2">Get Lowest Weather</button>
            </div>
        </form>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="todayRadioButton" value="0">
            <label class="form-check-label">Today</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tommarowRadioButton" value="1" checked>
            <label class="form-check-label">Tomorrow</label>
        </div>

    </div>

    <p class="font-weight-bolder font-italic">
    	<div id="wetherdataheadder"></div>
    </p>
    <div id="wetherdata"></div>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">API Request URL:</th>
            <th scope="col">
                <div id="requestURL"></div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Response:</th>
            <td>
            	<div id="responseURL"></div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<script>

    var apiURL = "/api/";
    var lowest = false;

    $(document).ready(function () {

        $('#zipcode').keyup(function () {
            zipCodeChanged();
        });

        $("input[type='radio']").change(function () {
            radioBokChanged();
        });

        $("#hourlyButton").click(function () {
            loadHourlyURL();
        });

        $("#lowestButton").click(function () {
            loadLowestURL();
        });

    });

    function loadLowestURL() {
    	
    	initilize();
    	lowest = true;
        var finalURL = apiURL + radioBokChanged() + "/lowest";
        //$("#requestURL").text('<a href="#'+ finalURL + '">'+ finalURL + '</a>');
        $("#requestURL").text(finalURL);
        
        $.getJSON(finalURL, function (data) {
            buildPage(data);
            $("#responseURL").text(JSON.stringify(data));
        });

    }

    function loadHourlyURL() {
    	
    	initilize();
    	lowest = false;
        var finalURL = apiURL + radioBokChanged();
        $("#requestURL").text(finalURL);

        $.getJSON(finalURL, function (data) {
            buildPage(data);
            $("#responseURL").text(JSON.stringify(data));
        })
        .fail(function(data) {
            $("#responseURL").text(JSON.stringify(data.responseJSON));
    	  });
    }
    
    function initilize(){
    	$("#responseURL").text(" ");
    	$("#requestURL").text(" ");
    	document.getElementById('wetherdata').innerHTML = ' ';
    	$("#wetherdataheadder").text(" ");
    }

    function buildPage(dump) {

        var weatherTag = '<div class="d-flex align-content-stretch flex-wrap">';
        dump.hourlydate.forEach(function (e) {
            weatherTag += buildCard(e, dump.city_name);
        })

        document.getElementById('wetherdata').innerHTML = weatherTag + '</div>';
    }

    function radioBokChanged() {
        return zipCodeChanged($("input[name='inlineRadioOptions']:checked").val());
    }

    function zipCodeChanged(requestURLString) {
        return requestURLString + "/" + $('#zipcode').val();
    }

    function buildCard(input, city) {
    	
    	var datefeild = new Date(input.timestamp_local[0]  , input.timestamp_local[1] ,input.timestamp_local[2] );
    	datefeild = datefeild.toString().slice(0,datefeild.toString().indexOf("00:00"));
    	
    	if(lowest == true) {
    		$("#wetherdataheadder").text("Lowest Temperature in " + city + "(Zip Code:"+ $('#zipcode').val() + ") on " + datefeild + " is:");
    	}else{
    		$("#wetherdataheadder").text("Hourly weather in " + city + "(Zip Code:"+ $('#zipcode').val() + ") on " + datefeild + " is:");
    	}
    	
    	
        var output = '<div class="card border-dark mb-3" style="max-width: 10 rem;">';
        output += '<div class="card-body">';
        output += '<h5 class="card-title">' + input.temp + " C" + '</h5>';
        output += '<h5 class="card-text">' + input.timestamp_local[3] + ":00 hrs" + '</h5>';
        output += '<h6 class="card-subtitle mb-2 text-muted">' + input.wetherdescription + '</h6>';
        output += '</div></div>';
        return output
    }

</script>

</body>
</html>